<!DOCTYPE html>
<html>
<head>
<title>Find-a-Film</title>
</head>
  <body>
  {% extends "layout.html" %}

  {% block body %}

  <form action="{{ url_for('index') }}" method="get">
    <input type="text" name="search" placeholder="Search for a movie...">
    <input type="Submit" value="Search">
  </form>

  {% for movie in movies %}
        <div class="card" style="width: 18rem;">
            <img src="{{ movie['Poster'] }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">{{movie['Title']}} - {{movie['Year']}}</p>
            </div>
        </div>
  {% endfor %}

  {% endblock %}

  </body>
</html>
