<!DOCTYPE html>
<html>
<head>
<title>Movies Database</title>
</head>
  <body>
  {% extends "layout.html" %}

  {% block body %}

  <form action="{{ url_for('index') }}" method="get">
    <input type="text" name="search" placeholder="Search for a movie...">
    <input type="Submit" value="Search">
  </form>

  {% for movie in movies %}
        <div class="card" style="width: 18rem;">
            <img src="{{ movie['Poster'] }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">{{movie['Title']}} - {{movie['Year']}}</p>
            </div>
        </div>

        <div class="randomMovies">
        <p>Need some help choosing what to watch?<br>
        <br>Try our random movies generator <a href="MoviesGenerator.html">here</a>.</p>
        </div>
        
  {% endfor %}

  {% endblock %}

  </body>
</html>
