<!DOCTYPE html>
<html>
<head>
<title>Movies Database</title>
</head>
  <body>
  {% extends "layout.html" %}

  {% block body %}

  <form action="{{ url_for('index') }}" method="get">
    <input type="text" name="search" placeholder="Search for a movie...">
    <input type="Submit" value="Search">
  </form>

  <div class="randomMovies">
    <p>Need some help choosing what to watch?<br>
      <br>Try our random movies generator <a href="MoviesGenerator.html">here</a>.</p>
  </div>

  <div class="container">

    <div class="row">
        {% for movie in movies %}
        <div class="col-sm">
          <div class="card" style="width: 14rem;">
              <img src="{{ movie['Poster'] }}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">{{movie['Title']}} - {{movie['Year']}}</p>
              </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}

  </body>
</html>
